%h1 Search for Term
= simple_form_for :term, url: terms_path, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
  = f.input :name, placeholder: 'term'
  = f.submit 'Search', class: 'btn btn-primary'
