%h1= @term.name

#chart

:coffeescript
  
  color = d3.scale.category10();
  
  dataset = [ 5, 10, 20, 45, 6, 25 ]; 
  #dataset = #{@term.linked_terms_weighted.map(&:name).to_json}
  pie = d3.layout.pie(dataset)

  width  = 300;
  height = 300;

  outerRadius = width / 2;
  innerRadius = 0;
  
  arc = d3.svg.arc()
          .innerRadius(innerRadius)
          .outerRadius(outerRadius);

  # Create SVG element
  svg = d3.select("#chart")
          .append("svg")
          .attr("width", width)
          .attr("height", height);

  # Set up groups
  arcs = svg.selectAll("g.arc")
          .data(pie(dataset))
          .enter()
          .append("g")
          .attr("class", "arc")
          .attr("transform", "translate(" + outerRadius + ", " + outerRadius + ")");

  # Draw arc paths
  arcs.append("path")
      .attr("fill", (d, i) ->
          return color(i);
      )
      .attr("d", arc);

  # Text
  arcs.append("text")
      .attr("transform", (d) ->
          return "translate(" + arc.centroid(d) + ")";
      )
      .attr("text-anchor", "middle")
      .text( (d) ->
          return d.value;
      );
